
==================>
[2020-07-26 07:32:50]   开始对manager表进行selectOne操作
[2020-07-26 07:32:50]   结束对manager表进行selectOne操作
==================>
[2020-07-26 07:32:52]   开始对employee表进行selectAll操作
[2020-07-26 07:32:52]   结束对employee表进行selectAll操作
==================>
[2020-07-26 07:33:13]   开始对employee表进行selectById操作
[2020-07-26 07:33:13]   结束对employee表进行selectById操作
==================>
[2020-07-26 07:33:13]   开始对department表进行selectAll操作
[2020-07-26 07:33:13]   结束对department表进行selectAll操作
==================>
[2020-07-26 07:33:17]   开始对department表进行selectById操作
[2020-07-26 07:33:17]   结束对department表进行selectById操作
==================>
[2020-07-26 07:33:17]   开始对employee表进行update操作
[2020-07-26 07:33:17]   结束对employee表进行update操作
==================>
[2020-07-26 07:33:17]   开始对employee表进行selectAll操作
[2020-07-26 07:33:17]   结束对employee表进行selectAll操作
==================>
[2020-07-26 07:33:27]   开始对employee表进行delete操作
[2020-07-26 07:33:27]   结束对employee表进行delete操作
==================>
[2020-07-26 07:33:27]   开始对employee表进行selectAll操作
[2020-07-26 07:33:27]   结束对employee表进行selectAll操作
==================>
[2020-07-26 07:33:45]   开始对department表进行selectAll操作
[2020-07-26 07:33:45]   结束对department表进行selectAll操作
==================>
[2020-07-26 07:33:57]   开始对employee表进行selectAllByDid操作
[2020-07-26 07:33:57]   结束对employee表进行selectAllByDid操作
